
.pageWrapper {
   background-image: url('https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2187&q=80');
  min-height: 100vh; /* Ensure the wrapper takes up the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center;
  position: relative;
  
 
}
.tot {
    
  padding: 20px;
  margin-top: 150px;
  margin-left: 100px;
  margin-right: 100px;

  }
  
  /*drop zone content*/
  .dash {
    
  width: 600px; /* Set a fixed width */
  height: 300px; /* Set a fixed height to make it square */
  margin: 0 auto;
  text-align: center;
  padding: 100px 25px;
  border: 2px dashed #099ce0;
  border-radius: 5px;
  background-color: white;
  

    
  }
  
  /* Title */
  .title {
    font-size: 2rem;
   
  }
  
 
  .logoutbtn{
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: large;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    color: #FFFFFF;
  }
  
  .logoutbtn:hover {
  background-color: #8e1dd9; /* Green */
  color:rgb(243, 241, 245);
  
  }