.main {
  display: flex;
  background-color: #F5F5F5;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 9rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.label {
  border: 0px none;
  height: 31px;
  width: 136px;
}

.textwrapper {
  color: #000000;
  font-family: "SF Pro-Bold", Helvetica;
  font-size: 26px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  top: 0;
  white-space: nowrap;
}

.input_title {
  color: black;
  font-size: small;
  text-align: left;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.container {
  padding: 20px;
  border: 0px none;
  height: 400px;
  width: 421px;
  background-color: #FFFFFF;
  margin: 8% auto;
}

.input {
  border-radius: 0px;
  padding: 5px;
  border-style:solid;
  background: #FFFFFF;
  text-align: left;
  height: 30px;
  width: 100%;
  color: black;
  margin-bottom: 15px;

}

.signup_title {
  color: black;
  text-align: left;
  margin-bottom: 20px;
}

.signup_button {
  height: 35px;
  width: 50%;
  background-color: #3AA1FF;
  color: white;
  cursor: pointer;
  border-style: hidden;
  margin-left: 6rem;
  margin-top: 10px;
}